.fs-35{
  font-size: 35px;
}
.fs-19{
  font-size: 19px;
}
.fs-17{
  font-size: 17px;
}
.fw-bold{
  font-weight: 500;
}
.border-black{
  border: 1px solid rgb(165, 162, 162);
}
.m-auto{
  margin: 0 auto;
}
.transactionlist-scroll{
  overflow-y: auto;
  max-height: 400px;
}